:root {
    --blue: #49bfff;
    --white: #fff;
    --gray: #333;
    --fontSize: 16px;
    --transition: .3s ease;
    --fontsize: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-size: var(--fontSize);
}

a:hover {
    transition: var(--transition);
}

.bg-light {
    background: var(--blue) !important;
}

.btn-outline-primary {
    color: var(--white);
    border-color: var(--white);
    border-radius: 0;
}

.btn-outline-primary:hover {
    background: var(--white);
    border-color: var(--white);
    color: var(--blue);
}

/********
nav
**********/
.navbar {
    padding: 0 100px;
}

.navbar-brand {
    color: var(--white) !important;
    font-size: 2rem;
}

.navbar-brand:hover {
    color: var(--gray) !important;
    transform: var(--transition);
}

.nav-link {
    color: var(--white) !important;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--gray) !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--gray) !important;
}

.carousel-caption {
    bottom: 33%;
    text-align: left;
}

/***intro***/
.intro h2 {
    padding: 20px 0;


}

.intro h2 span {
    background: var(--blue);
}

/***counter***/
.counter i {
    color: var(--blue);
    font-size: 2rem;
    margin-bottom: 20px;
}

/***plan***/
.plan {
    background: var(--blue);

}

.plan .icons {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: var(--white);
    color: var(--blue);
    text-align: center;
    border-radius: 50%;
    font-size: 2rem;
    margin: auto;
    margin: 30px auto;
}

.plan h3 {
    margin-bottom: 20px;
}

/***package***/

.packages .price {
    position: relative;

}

.packages .price p {
    position: absolute;
    right: 20px;
    bottom: 5px;
    background: var(--blue);
    padding: 3px 6px;
    color: var(--white)
}

.packages .card-body {
    color: var(--blue);
}

.packages button {
    margin: auto;
    margin-top: 40px;
}

/***trip***/
.trip{
    margin-bottom: 0;
    border-radius: 0;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),  url(img/slide-palms.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}